<ion-content>
  <div class="centered-container">
    <div class="forgot-password-card">
      <img src="assets/images/duoc-logo2.png" alt="Logo UC" class="logo-uc">
      <h2>Sistema de asistencia DUOC UC</h2>
      <div class="image-container">
        <img src="assets/images/correcto.png" alt="Persona confundida" class="error-image">
      </div>
      <h3>¡Su contraseña es !</h3>
      <p>{{ usuarioActual?.password }}</p>
      <a href="#" class="login-link">Volver a Iniciar sesión</a>
    </div>
  </div>
</ion-content>