<ion-content>
  <div class="centered-container">
    <div class="forgot-password-card">
      <img src="assets/images/duoc-logo2.png" alt="Logo UC" class="logo-uc">
      <h2>Sistema de asistencia DUOC UC</h2>
      <div class="image-container">
        <img src="assets/images/incorrecto.png" alt="Persona confundida" class="error-image">
      </div>
      <h3>¡Lo sentimos pero los datos ingresados no son correctos!</h3>
      <a href="#" class="login-link">Iniciar sesión</a>
    </div>
  </div>
</ion-content>
